<template name="footer">
  <footer role="contentinfo">
    <div class="container">
      <hr>
      <div class="row">
  <!--       <div class="col-sm-12 col-lg-6 col-lg-offset-3">
          <h4 class="text-center">
            <img src="qcode.png">
          </h4>
          <p class="small text-center text-muted">关注公众号订阅最新信息<br><br></p>
        </div> -->
        <div class="col-sm-12 col-lg-6 col-lg-offset-3">
          <ul class="footer-links text-center">
            <li><a href="#">团队</a></li>
            <li><a href="#">新闻</a></li>
            <li><a href="#">加入</a></li>
            <li><a href="#">联系</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-lg-6 col-lg-offset-3">
          <p class="small text-center text-muted">Copyright©2016 量子视觉科技有限公司 保留所有权利</p> 
          <p class="small text-center text-muted"><a href="http://www.miibeian.gov.cn/">粤ICP备16006475号-1</a></p>
        </div>

      </div>
    </div>
  </footer>
</template>