<template name="contact">
  <div class="row contact">
    <div class="col-sm-12 col-md-6">
      <div class="contact-bg"><img src="contact01.jpg" alt="contact" width="100%"></div>
    </div>
    <div class="col-sm-12 col-md-6 contact-box">
      <div class="contact-body">
        <ul class="text hidden-xs hidden-sm">
          <li class="margin-middle"><span class="fa fa-phone"></span><label class="text-lighter">总机电话:  0755-12345678</label></li>
          <li class="margin-middle"><span class="fa fa-envelope"></span><label class="text-lighter">产品邮箱:  12345678@qq.com</label></li>
          <li class="margin-middle"><span class="fa fa-users"></span><label class="text-lighter">商务合作:  12345678@qq.com</label></li>
          <li class="margin-middle"><span class="fa fa-map-marker"></span><label class="text-lighter">深圳市南山区铜鼓路39号 大冲国际中心5号楼902</label></li>
        </ul>

        <ul class="text visible-xs visible-sm">
          <li class="margin-middle"><span class="fa fa-phone"></span><label class="text-lighter">总机电话:  0755-12345678</label></li>
          <li class="margin-middle"><span class="fa fa-envelope"></span><label class="text-lighter">产品邮箱:  12345678@qq.com</label></li>
          <li class="margin-middle"><span class="fa fa-users"></span><label class="text-lighter">商务合作:  12345678@qq.com</label></li>
          <li class="margin-middle"><label class="text-lighter text-center">深圳市南山区铜鼓路39号 大冲国际中心5号楼902</label></li>
        </ul>
      </div>
    </div>
  </div>
</template>