<template name="join">
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/join01.jpg"  class="img-responsive" width="100%" alt="...">
        <div class="carousel-caption">
        </div>
        <div class="carousel-join text-right hidden-xs hidden-sm">
          <p class="h1 text-lighter">一个好玩的公司</p>
          <p>我们是一个，青春向上，欢乐的团队，各种坚持以互联网的思维来创新发展，<br> 用眼看世界、用芯走未来，为智慧城市、智慧生活贡献力量。我们期待您的加入</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4 margin-middle">
      <p class="h3 text-lighter text-center">计算机视觉工程师</p>
      <div class="col-md-6 margin-middle">部门: 软件部</div>
      <div class="col-md-6 margin-middle">工作地点: 深圳</div>
      <div class="col-md-12">
        <p>
          <div>岗位职责：</div>
          <div>1. 分析评估计算机视觉算法在GPU上实现的可行性；</div>
          <div>2. 开发具体图像、视频算法的GPU实现并进行性能调优。</div>
          <div>任职资格：</div>
          <div>1. 本科及以上学历，计算机相关专业，2年及以上GPGPU开发工作经验；</div>
          <div>2. 良好的C/C++基础；</div>
          <div>3. 精通并行计算方法和并行算法设计，熟悉NVIDIA GPU运作原理、体系结构和代码优化技术；</div>
          <div>4. 熟练使用CUDA或OpenCL编程；</div>
          <div>5. 有计算机视觉领域相关经验或算法移植背景者优先；</div>
          <div>6. 良好的沟通能力和团队协作能力。</div>
        </p>

      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4 margin-middle">
      <p class="h3 text-lighter text-center">计算机视觉工程师</p>
      <div class="col-md-6 margin-middle">部门: 软件部</div>
      <div class="col-md-6 margin-middle">工作地点: 深圳</div>
      <div class="col-md-12">
        <p>
          <div>岗位职责：</div>
          <div>1. 分析评估计算机视觉算法在GPU上实现的可行性；</div>
          <div>2. 开发具体图像、视频算法的GPU实现并进行性能调优。</div>
          <div>任职资格：</div>
          <div>1. 本科及以上学历，计算机相关专业，2年及以上GPGPU开发工作经验；</div>
          <div>2. 良好的C/C++基础；</div>
          <div>3. 精通并行计算方法和并行算法设计，熟悉NVIDIA GPU运作原理、体系结构和代码优化技术；</div>
          <div>4. 熟练使用CUDA或OpenCL编程；</div>
          <div>5. 有计算机视觉领域相关经验或算法移植背景者优先；</div>
          <div>6. 良好的沟通能力和团队协作能力。</div>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 margin-middle">
      <p class="h3 text-lighter text-center">招聘邮箱：hr@visiondk.com</p>
    </div>
  </div>
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/join02.jpg"  class="img-responsive" width="100%" alt="...">
        <div class="carousel-caption">
          <!-- 快来加入我们吧！来啊！来啊！ -->
        </div>
        <div class="carousel-come text-right hidden-xs hidden-sm">
          <p class="h1 text-lighter">快来加入我们吧！来啊！来啊！</p>
        </div>
      </div>
    </div>
  </div>
</template>