<template name="news">
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/news01.jpg"  class="img-responsive" width="100%" alt="...">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid news">
    <div class="container">
      <div class="row margin-middle">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="news-box">
                <a href="#">
                  <img src="/news03.jpg" class="img-responsive">
                  <div class="news-boxbg"></div>
                </a>
              </div>
              <div class="caption">
                <p class="text-muted">2016-3-10</p>
                <a href="#"><h4>黄渤VR宣传片 广告拍摄花絮</h4></a>
                <p class="text-muted">Cras justo odio, dapibus ac facilisis in</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="news-box">
                <a href="#">
                  <img src="/news03.jpg" class="img-responsive">
                  <div class="news-boxbg"></div>
                </a>
              </div>
              <div class="caption">
                <p class="text-muted">2016-3-10</p>
                <a href="#"><h4>黄渤VR宣传片 广告拍摄花絮</h4></a>
                <p class="text-muted">Cras justo odio, dapibus ac facilisis in</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="news-box">
                <a href="#">
                  <img src="/news03.jpg" class="img-responsive">
                  <div class="news-boxbg"></div>
                </a>
              </div>
              <div class="caption">
                <p class="text-muted">2016-3-10</p>
                <a href="#"><h4>黄渤VR宣传片 广告拍摄花絮</h4></a>
                <p class="text-muted">Cras justo odio, dapibus ac facilisis in</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>