<template name="service">
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/service.jpg"  class="img-responsive" width="100%" alt="...">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row margin-middle">
      <div class="col-md-12 text-center">
        <p class="h1 text-lighter">我们提供的服务</p>
      </div>
    </div>
  </div>
  <div class="grace-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="arrow-up"></div>
        </div>
      </div>
      <div class="row margin-middle">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center margin-middle">
          <img src="/serve01.png" alt="..." width="120" height="120">
          <div class="caption">
            <h4>专业设备租赁</h4>
            <br>
            <p>Dvision致力于打造下一代虚拟现实的完整解决方案。</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center margin-middle">
          <img src="/serve03.png" alt="..." width="120" height="120">
          <div class="caption">
            <h4>后期剪辑 字幕</h4>
            <br>
            <p>Dvision致力于打造下一代虚拟现实的完整解决方案。</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center margin-middle">
          <img src="/serve02.png" alt="..." width="120" height="120">
          <div class="caption">
            <h4>团队拍摄</h4>
            <br>
            <p>Dvision致力于打造下一代虚拟现实的完整解决方案。</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 text-center margin-middle">
          <img src="/serve04.png" alt="..." width="120" height="120">
          <div class="caption">
            <h4>软件</h4>
            <br>
            <p>Dvision致力于打造下一代虚拟现实的完整解决方案。</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center margin-middle">
          <img src="/serve05.png" alt="..." width="120" height="120">
          <div class="caption">
            <h4>视觉特效</h4>
            <br>
            <p>Dvision致力于打造下一代虚拟现实的完整解决方案。</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center margin-middle">
          <img src="/serve06.png" alt="..." width="120" height="120">
          <div class="caption">
            <h4>直播</h4>
            <br>
            <p>Dvision致力于打造下一代虚拟现实的完整解决方案。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/service02.jpg"  class="img-responsive" width="100%" alt="...">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
</template>