<template name="team">
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="tem01.jpg"  class="img-responsive" width="100%" alt="团队">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row margin-middle">
      <div class="col-md-12 text-center">
        <p class="h1 text-lighter">关于我们</p><br>
        <p>DKvision致力于打造下一代虚拟现实的完整解决方案。</p> 
        <p>公司采用最先进的计算机视觉技术，将软件、硬件以及工业设计进行高效整合，为用户打造电影级别的虚拟现实体验。</p>
        <p>DKvision的全景拍摄设备可以实时的捕捉和重建三维场景，通过高效的视频传输技术，将虚拟现实内容实时的传输提供给用户，</p>
        <p>用户使用DKVision拥有独立知识产权的VR眼镜和VR播放器，即可享受到无与伦比的沉浸式娱乐体验。</p>
      </div>
    </div>
  </div>
</template>